/src/main/properties/config.properties
/src/main/resources/config.properties
/src/main/resources/pkgunq.txt
/src/main/resources/
/target/
/.git/
test.docx
UNIQA. Інструкція до пакету PkgUnq288.docx
nbactions.xml
nb-configuration.xml
pom.xml
